.tokenomics{
		&-chart {
			height: 120rem;
			width: 190rem;
			position: relative;
			overflow-y: hidden;
			border-radius: 10px;
			margin-bottom: 21rem;
				.js-plotly-plot {
					position: absolute;
					top: 0;
					left: 0;
					height: 200% !important;
				}
		}
		&-legends {
			padding-top: 85rem;
		}
}