.pagination{
	display: inline-flex;
	border-radius: 0;
		
		&:not(.pagination-rounded){
			display: flex;
			justify-content: center;
			padding: 20rem 0;
		}
	
		&-list{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-link{
			white-space: nowrap;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			text-align: center;
			width: 36rem;
			height: 36rem;
			line-height: 36rem;
			border-radius: 6px;
			font-family: var(--font-title-bold);
			transition: background-color var(--duration) var(--ease), color var(--duration) var(--ease);
				&:hover{
					text-decoration: none;
					color: var(--color-primary);
				}
				&.is-active{
					background-color: var(--color-primary);
					color: var(--color-black);
				}
				&.disabled{
					pointer-events: none;
					opacity: .5;
				}
		}
		&-item{
			margin: 0 6rem;
				&.__prev{
					transform: scaleX(-1);
				}
				&.__prev,
				&.__next{
					.pagination{
						&-link{
							color: var(--color-primary);
								&:hover{
									color: var(--color-white);
								}
						}
					}
				}
		}
}