.box{
	min-height: 400rem;
	border-radius: 7px;
	position: relative;
	background-color: var(--color-black-100);
	margin-bottom: 32rem;
	padding: 32rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
		&-theme{
			&-1{
				background: linear-gradient(54.89deg, #1E1F1F 57.82%, #102C27 123.61%);
			}
			&-2{
				background: linear-gradient(55.7deg, #1E1F1F 53.09%, #0F316A 154.42%);
			}
			&-3{
				background: linear-gradient(55.7deg, #1E1F1F 53.09%, #342F55 154.42%);
			}
			&-4{
				background: linear-gradient(55.7deg, #1E1F1F 53.09%, #2F3868 154.42%);
			}
		}
		&-header{
			display: flex;
			align-items: center;
			margin-bottom: 15rem;
				&-thumb{
					width: 64rem;
					height: 64rem;
					min-width: 64rem;
					border-radius: 50%;
					background-color: var(--color-black-200);
					color: var(--color-black);
					display: flex;
					align-items: center;
					justify-content: center;
						& ~ .box-header-title{
							margin-left: 24rem;
						}
						&.color{
								&-primary{
									background-color: var(--color-primary);
								}
								&-blue{
									background-color: var(--color-blue);
								}
								&-violet{
									background-color: var(--color-violet);
								}
								&-orange{
									background-color: var(--color-orange);
								}
								&-turquoise{
									background-color: var(--color-turquoise);
								}
						}
						&.__30{
							width: 30rem;
							height: 30rem;
							min-width: 30rem;
						}
				}
				&-title{
				
				}
		}
		&-body{
			height: 100%;
			width: 100%;
				&-height{
					height: calc(400rem - 143rem);
				}
				&-subtitle{
					margin-top: -10rem;
				}
				&-status{
					position: absolute;
					top: 32rem;
					right: 32rem;
					padding-right: 25rem;
					text-transform: capitalize;
					line-height: 1em;
						&:before{
							content: '';
							position: absolute;
							pointer-events: none;
							width: 12rem;
							height: 12rem;
							top: 45%;
							right: 0;
							transform: translateY(-50%);
							border-radius: 2px;
							background-color: currentColor;
						}
				}
				&-detail{
					margin-top: -35rem;
				}
		}
		&-adaptive{
				&-height{
					min-height: 0;
				}
		}
		/*
		Table
		 */
		.table{
			margin-top: 25rem;
				&-box{
					padding-left: 0;
					padding-right: 0;
				}
		}
}

.governance-box{
	.box{
		min-height: 336rem;
	}
}